################################################################
#                 GitHub DEFAULT for CMake
################################################################

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

################################################################
#                       ADDITIONALS
################################################################
# Manually inserted ignores goes here

out/

.vs/

build/

################################################################
#                       GitHub inserted
################################################################
# Automatically inserted ignores goes here